{% extends "base.html" %}
{% block content %}
    <br>
    <div style="width: 100%; display: flex; gap: 20px; flex-direction: column; justify-content: center; align-items: center">

        <h1>Your Savings</h1>
    <h2>Your Balance: £{{ balance }}</h2>
        {% if my_goal is not none %}
            {% if (my_goal.name is not none) %}
                <h2>Goal: {{ my_goal.name }}</h2>
            {% else %}
                <p>Current Goal</p>
            {% endif %}
            <p>£{{ my_goal.amount }} </p>
            <div class="progress" style="height: 40px; width: 100%;">
            <div class="progress-bar bg-dark" role="progressbar" style="width: {{ mywidth }}%;"
                 aria-valuenow="{{ mywidth }}" aria-valuemin="0" aria-valuemax="100">£{{ balance }}</div>
        </div>
        <p>You're {{ mywidth }}% of the way there!</p>
            <form name="deleteGoalButton" id="deleteGoalButton" method="post">
            <button type="submit" class="btn btn-dark">Delete Goal</button>
        </form>

        {% else %}
            <!-- add a button to add a goal -->
            <a class="btn btn-dark" href="/addGoalPage">Add a goal</a>
        {% endif %}
    <h2>Total Income: £{{ totalinc }}</h2>
    <h2>Total Expenses: £{{ totalexp }}</h2>


    </div>


{% endblock %}
